.banner {
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 0;
    
}

.banner h1 {
    text-align: center;
    font-size: 80px;
}