/*
.navigation-bar {
  background-color: #333;
  color: white;
  padding: 10px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  position: relative;
  margin: 0 15px;
  cursor: pointer;
}

.sub-menu {
  list-style: none;
  margin: 0;
  padding: 10px;
  background-color: #444;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.menu-item:hover .sub-menu {
  display: block;
}
*/
